/*
here is where index.html formatting goes
*/

/* #main{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#reactApp{
  position: absolute;
  height: 50%;
  width: 50%;
  z-index: 2;
} */

/*react app styling*/

.reactHello{
  background-color: purple;
  color: white;
  height: 100%;
  width: 100%;
}

/*  coolors color schema https://coolors.co/ffffff-000000-55d6be-ef6f6c-568ea3
white, black, green, red, blue
*/

.whiteBack{
  background-color: white;
}
.whiteColor{
  color: white;
}
.blackBack{
  background-color: black;
}
.blackColor{
  color: black;
}
.greenBack{
  background-color: #55d6be;
}
.greenColor{
  color: #55d6be;
}
.redBack{
  background-color: #ef6f6c;
}
.redColor{
  color: #ef6f6c;
}
.blueBack{
  background-color: #568ea3;
}
.blueColor{
  color: #568ea3;
}



/* Here is where all the MAIN_VIEW stuff goes */



.MainContainer{
  overflow: hidden;
}


.Title{
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 5vh;
  font-size: 2vh;
}


/* Here is where all the MAIN_NAVIGATION stuff goes */

.ButtonContainer{
  position: absolute;
  top: 5vh;
  width: 100%;
}

.PageButtons{
  margin: 1vh;
  text-align: center;
}

.PageButtons:hover{
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

/* Here is where all the PAGE stuff goes */

.PageTitle{
  font-weight: bold;
  /* color: black; */
  width: 30%;
  font-size: 2vw;
  margin-top: 2vh;
  /* background-color: #55d6be; */
  border-radius: 25px;
  padding: 1vh;
  margin-left: 2vw;
}

.PageHeading{
  font-weight: bold;
  font-size: 3vh;
  /* color: black; */
  width: 20%;
  /* background-color: #55d6be; */
  padding: 1vh;
  border-radius: 25px;
  margin-top: 2vh;
  margin-left: 4vw;
}

.PageSubHeading{
  font-size: 2vh;
  font-weight: bold;
  /* color: black; */
  width: 10%;
  /* background-color: #55d6be; */
  padding: 1vh;
  border-radius: 25px;
  margin-top: 2vh;
  margin-left: 6vw;
}

.PageText{
  font-size: 2vh;
  font-weight: bold;
  /* color: white; */
  width: 80vw;
  /* background-color: black; */
  padding: 1vh;
  border-radius: 25px;
  margin-top: 2vh;
  margin-left: 8vw;
}

.ulStyling{
  line-height:130%;
}

/*Here is where all the EXAMPLES stuff goes*/

.IconPlacer{
  font-size: 50px;
  position: absolute;
  top: 5%;
  left: 50%;
}

/* Here is where all the GRID stuff goes */


.GridContainer {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw; /*100vw*/
  grid-template-rows: 5vh 5vh 3vh 7vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh; /*90vh*/
}

.MarginBox{
  grid-column: 1/21;
  grid-row: 3/4;
  background-color: grey;
}

.PageBox{
  grid-column: 1/21;
  grid-row: 4/21;
  background-color: grey;
  /* overflow: scroll;
  overflow-y: hidden; */
  overflow: scroll;
}

/* Here is where all the FLEX stuff goes */

.FlexRow{
  flex-direction: row;
  display: flex;
}

.FlexColumn{
  flex-direction: column;
  display: flex;
}

.Flex1{
  flex: 1;
}

.Flex2{
  flex: 2;
}

.Flex3{
  flex: 3;
}

.Flex4{
  flex: 4;
}

.Flex5{
  flex: 5;
}

.Flex6{
  flex: 6;
}

.Flex7{
  flex: 7;
}

.Flex8{
  flex: 8;
}
.Flex9{
  flex: 9;
}

.Flex10{
  flex: 10;
}

.Flex11{
  flex: 11;
}

.Flex12{
  flex: 12;
}
